/**
 * Admin styles
 */

.sm_admin {
    display: block;
    width: 100%;
}

.sm_admin.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sm_admin.main .logo {
    max-width: 200px;
    height: auto;
}

.admin.field {
    display: block;
}

.sm_width_full {
    width: 100%;
}

.sm_width_half {
    width: 50%;
}

#sm_horse_custom_fields .field-group {
    margin: 1.1em 0;
}

.sm_width_quarter {
    width: 25%;
}
